@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir-book.ttf');
	font-weight: normal;
	font-style: normal; }

@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir-oblique.ttf');
	font-weight: normal;
	font-style: italic; }
	
@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir-bold.ttf');
	font-weight: bold;
	font-style: normal; }
	
	
/* Color definitions in one place for consistency */
:root {
	--bg: #f9f9f9;
	--text: #333;
	--link: #325ca5;
}

/* BASICS */
body {
	font-family: Avenir, sans-serif;
	background: var(--bg); 
	color: var(--text);
	line-height: 1.3; }
	
p#HSdescription {
	font-style: italic;
	font-size: 1.2em; }
	
table {
	border-collapse: collapse; }
table td {
	text-align: center;
	font-family: monospace; }
table td,
table th {
	border-left: 1px solid grey; }
table td:nth-child(1),
table th:nth-child(1) {
	text-align: left;
	font-family: Avenir, sans-serif;
	border-left: none; }
table th, 
table td {
	padding: 5px; }
table th {
	border-bottom: 1px solid; }
table tbody tr:nth-child(odd) {
  background: #eee;
}
